html(lang="en-us")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title WTF is Magenta | magenta.wtf
    link(rel="stylesheet" href="style.min.css")
    link(rel="stylesheet" href="https://use.typekit.net/vqp6gnr.css")
  body
    header
      h1 WTF is Magenta?
    main
      h2 Uh, it&rsquo;s a color?
      p Yes, it is a color. But also, not? It&rsquo;s a psychological construct (not to be confused with the sociological kind).
      p Our brains make it up when we see red and blue light together, but it also processes the fact that green light is missing. It doesn&rsquo;t exist in the hue spectrum.
      h2 What do you mean it&rsquo;s a construct? #[br]I see it literally everywhere!
      p Yeah, but human brains are just guessing what the color is. We can&rsquo;t comprehend what light is being bounced back to our eyes when we see flowers n&rsquo; stuff, unlike #[a(href="https://www.youtube.com/watch?v=whks0aPBhDw" title="just... enjoy the chaos") birds]—they sure do like it.
      h2 OK, then explain #[abbr(title="Cyan, Magenta, Yellow, Key (Black)" tabindex="0") CMYK].
      p #[span(style="color:#0ff") C]M#[span(style="color:#ff0") Y] is the opposite of #[span(style="color:#f00") R]#[span(style="color:#0f0") G]#[span(style="color:#00f") B].
      p CMYK is a #[dfn(title="white is the absence of color and all colors together make black" tabindex="0") subtractive] color model, while RGB is #[dfn(title="black is the absence of color and all colors together make white" tabindex="0") additive].
      p Magenta is the opposite of green because the absence of green light leaves red and blue light.
      p The K stands for “Key,” which is the stand-in for CMY mixed together because can you imagine all that ink you would waste if your printer had to make black every single time? It&rsquo;s not even a #[span(title="it&rsquo;s like a weird murky brown-ish gray, according to my printer" tabindex="0") perfect black] (this is a whole other rabbit hole)!
      h2 But it&rsquo;s Pantone&rsquo;s color of the year! #[br]#[a(href="https://www.pantone.com/articles/color-of-the-year/what-is-viva-magenta" title="The cochineal beetle, to be precise") It was rooted in nature!]
      p Listen, I&rsquo;m not arguing that it&rsquo;s not found in nature; I&rsquo;m just saying we see it as magenta because that&rsquo;s how our brains process the light being bounced back to our eyes, and it&rsquo;s not a hue in the light spectrum.
      h2 What about #[span(title="not to be confused with the OS that now lives on my Hub" tabindex="0") Fuchsia]?
      p It&rsquo;s a similar color based on a plant&rsquo;s flower. Some say it was the OG name #[a(href="https://www.royaltalens.com/en/inspiration/tips-techniques/colour-stories/magenta-a-colour-with-a-bloody-past/" ) until this European battle happened.]
      p But in the world of RGB web colors, it&rsquo;s the same color my guy, just a different name.
      h2 I&rsquo;m not your guy, friend
      p
        a(href="https://www.youtube.com/watch?v=zuQK6t2Esng" title="I&rsquo;m not your buddy, guy") I&rsquo;m not your friend, buddy
      h2 Why does this site even exist?
      ol
        li I am fascinated by color, and magenta really is a fascinating one
        li I wanted to discuss a color that makes my brain hurt if I stare at it too long
        li This domain was available for purchase
      h2(title="Wow you must be fun at parties" tabindex="0") BUT ALL COLORS ARE A CONSTRUCT 
      p #[a(href="https://www.youtube.com/watch?v=VZBxG6v0gYQ" title="It&rsquo;s not the annoying loud bald former host of fear factor I promise") So is time.] But yes, the way I perceive color is different from how you perceive color, which is neat!
      h2 But you can&rsquo;t talk about wavelengths like that&rsquo;s the end all be all of color; The way we perceive color is always in the context of other colors; There&rsquo;s a difference between the spacial and the mental&hellip;
      p Leave me and the dumb site I made to justify my domain name purchase alone
      h2 What about #[span(style="background:#420;color:#fff") brown]?
      p &hellip;That has nothing to do with magenta, but it is technically a dark orange.
        br
        a(href="https://www.youtube.com/watch?v=wh4aWZRtTwU" title="Technology Connections makes great content in general") I enjoy this video explaining it.
      h2 Links pls
      ul
        li #[a(href="https://www.biotele.com/magenta.html") Magenta Ain&rsquo;t a Color]
          ul
            li
              small This article made a lot of people mad on the Internet because initially, there was perceived conflation between hue and color.
                br
                small I mean, the Internet is always an angry cesspool, and yet I managed to devote my entire life to it
        li #[a(href="https://plsn.com/archives/july-2022/colors-exist/") Colors Exist]
        li #[a(href="https://www.handprint.com/HP/WCL/color18a.html") Modern Color Theory (Concepts)]
        li #[span(title="They have a monopoly on color - no, really, it&rsquo;s scary" tabindex="0") Pantone] Color Fundanemtals 
          ul 
            li #[a(href="https://www.pantone.com/articles/color-fundamentals/what-is-color") What is Color]
            li #[a(href="https://www.pantone.com/articles/color-fundamentals/how-do-we-see-color") How Do We See Color]
            li #[a(href="https://www.pantone.com/articles/color-fundamentals/understanding-different-color-spaces") Understanding Different Color Spaces]
            
    footer
      p Thanks for visiting my corner of the Internet. This site is for entertainment purposes. I&rsquo;m not a scientist, I&rsquo;m just a - #[span(title="my career is a joke" tabindex="0") dev? designer? I don&rsquo;t even know anymore] - person who knows HTML and who went to art school a long time ago and who buys too many vanity domains.
      p
        small There&rsquo;s some easter eggs if you move your mouse around (or go tappy-tappy on your touch device). Or, you can just view the page source (or #[a(href="https://github.com/vlemoine/magenta.wtf/blob/main/index.html") on GitHub]).
